html{
    font-size: 65.5%;
}
body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-size: cover;
}
h1{
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-size: 5rem;
    text-align: center;
    color: rgb(151, 116, 20);
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 10rem;
    height: 8rem;
    background-color: rgb(184, 105, 105);
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.clock .text{
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background: brown;
    opacity: 0.8;
}
.clock #ampm{
    margin-top: 8rem;
    position: absolute;
    width: 6rem;
    height: 3rem;
    font-size: 2rem;
    background: brown;
}

@media(max-width:700px){
    html{
        font-size: 55%;
    }
} 
@media(max-width:465px){
    html{
        font-size: 40%;
    }
} 
    
